.upload__btn{
  background-color: rgb(73, 61, 233);
  border: none;
  border-radius: 0.3rem;
  color: #ddd;
  justify-content: center;
  margin: .5rem auto;
  padding: .4rem;
}

.file__input{
  display: none;
}