.timer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer{
  font-size: 2rem;
  font-weight: 600;
}

.time{
  font-size: 2rem;
  font-weight: 600;
}